<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="text-section">
          <h1 class="typing-container fw-bold fs-1 text-white">
            Welcome!
            <span style="color: #d09423">{{ displayedText }}</span>
          </h1>

          <div class="stats">
            <span>2500+ Unique Styles</span>
            <span>5000+ customer</span>
            <span>300+ Certified Outlets</span>
          </div>
        </div>
        <button (click)="navigateToProduct()" class=" shop-now mt-5 mb-6 nav-link">
          Shop Now
        </button>
      </div>

      <div class="col-md-5">
        <app-image-desgin></app-image-desgin>
      </div>
    </div>
  </div>
</div>
