<div class="container-fluid promo-section mt-5 mb-0">
  <div class="row g-0 align-items-center">
    <div class="container col-md-5 position-relative">
      <h1 class="background-text">AirPods Max</h1>
      <img src="/hero.png" class="promo-image img-fluid" alt="AirPods Max" />
    </div>
    <div class="container col-md-4">
      <div class="promo-content text-white px-4 py-2">
        <h3 class="promo-title mb-2">AirPods Max</h3>
        <p class="promo-description mb-2">
          Bluetooth Over-Ear Active Noise Cancellation Headphones
        </p>
        <p class="text-white fw-bold text-decoration-line-through mb-1">
          $749.00
        </p>
        <h4 class="promo-price fw-bolder" style="color: #d09423">$699.99</h4>
        <button
          class="btn btn-outline-light mt-3 fw-bolder text-captilize"
          style="color: #d09423"
          (click)="navigateToProduct()"
        >
          See offer
        </button>
      </div>
    </div>
  </div>
</div>
