
<div class="marquee ">
  <ul class="marquee-content container" >

      <li>
          <a href="#" title="Samsung">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/s/a/samsung.png" alt="Samsung">
          </a>
      </li>
      <li>
          <a href="#" title="LG">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/l/g/lg.png" alt="LG">
          </a>
      </li>
      <li>
          <a href="#" title="Tornado">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/t/o/tornado.png" alt="Tornado">
          </a>
      </li>
      <li>
          <a href="#" title="Toshiba">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/r/brands_logos_180x120__toshiba.png" alt="Toshiba">
          </a>
      </li>
      <li>
          <a href="#" title="Ultra">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/u/l/ultra.png" alt="Ultra">
          </a>
      </li>
      <li>
          <a href="#" title="White Whale">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/w/h/white_whale.png" alt="White Whale">
          </a>
      </li>
      <li>
          <a href="#" title="Ariston">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/a/r/ariston.png" alt="Ariston">
          </a>
      </li>
      <li>
          <a href="#" title="Babyliss">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/a/babyliss.png" alt="Babyliss">
          </a>
      </li>
      <li>
          <a href="#" title="Braun">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/r/braun.png" alt="Braun">
          </a>
      </li>
      <li>
          <a href="#" title="Oppo">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/o/p/oppo.png" alt="Oppo">
          </a>
      </li>
      <li>
          <a href="https://btech.com/en/catalogsearch/result/index/?gfk_brand_16299=805&amp;q=Huawei" title="Huawei">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/h/u/huawei.png" alt="Huawei">
          </a>
      </li>
      <li>
          <a href="#" title="Indesit">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/i/n/indesit.png" alt="Indesit">
          </a>
      </li>
      <li>
          <a href="#" title="Kenwood">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/r/brands_logos_180x120__kenwood.png" alt="Kenwood">
          </a>
      </li>
      <li>
          <a href="#" title="Kiriazi">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/r/brands_logos_180x120__kiriazi.png" alt="Kiriazi">
          </a>
      </li>
      <li>
          <a href="#" title="Lenovo">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/l/e/lenovo.png" alt="Lenovo">
          </a>
      </li>
      <li>
          <a href="#" title="Mienta">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/r/brands_logos_180x120__mienta.png" alt="Mienta">
          </a>
      </li>
      <li>
          <a href="#" title="SBS">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/s/b/sbs.png" alt="SBS">
          </a>
      </li>
      <li>
          <a href="#" title="Xiaomi">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/x/i/xiaomi.png" alt="Xiaomi">
          </a>
      </li>
      <li>
          <a href="#" title="Zanussi">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/b/r/brands_logos_180x120__zanussi.png" alt="Zanussi">
          </a>
      </li>
      <li>
          <a href="#" title="MSI">
              <img src="https://btech.com/media/homecontent/brand/cache/56x56/m/s/msi-dragon_spirit_logo_h_4c_b.png" alt="MSI">
          </a>
      </li>

  </ul>
</div>
