<div class="container mt-5 mb-5">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="product d-flex  justify-content-between text-center  h-100 p-4 ">
        <div class="product-details d-flex flex-column justify-content-around ">
          <h4 class="collection-title bg-white rounded-pill px-1 py-1 mb-3">New Collection</h4>
          <h3 class="product-title mb-3">Small Wireless Gaming</h3>
          <a [routerLink]="['/product']" [queryParams]="{ catagory: 'HeadPhone' }" class="btn btn-link text-decoration-none text-primary btn-product" id="link">View All</a>
        </div>
        <div class="product-image">
          <img src="/61d2ST1LP1L._AC_SY450_-removebg-preview.png" alt="Virtual Reality" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="product d-flex  justify-content-between text-center  h-100 p-3 ">
        <div class="product-details d-flex flex-column justify-content-around ">
          <h4 class="collection-title bg-white rounded-pill px-1 py-1 mb-3">New Collection</h4>
          <h3 class="product-title mb-3">Small Wireless Gaming</h3>
          <a [routerLink]="['/product']" [queryParams]="{ catagory: 'mobile' }" class="btn btn-link text-decoration-none text-primary btn-product" id="link">View All</a>
        </div>
        <div class="product-image">
          <img src="/61RCRdEvQlL._AC_SY606_-removebg-preview(1).png" alt="Gaming Sections" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="product d-flex  justify-content-between text-center  h-100 p-4 ">
        <div class="product-details d-flex flex-column justify-content-around ">
          <h4 class="collection-title bg-white rounded-pill px-1 py-1 mb-3">New Collection</h4>
          <h3 class="product-title mb-3">Small Wireless Gaming</h3>
          <a [routerLink]="['/product']" [queryParams]="{ catagory: 'Laptop' }" class="  btn btn-link text-decoration-none text-primary btn-product " id="link">View All</a>
        </div>
        <div class="product-image">
          <img src="/output-onlinepngtools (14).png" alt="New Laptops" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6 ">
      <div class="discount d-flex flex-column justify-content-center align-items-center text-white text-center p-5 h-100">
        <h2 class="my-3">20% OFFER</h2>
        <a [routerLink]="['/product']" class="btn text-white bg-warning rounded-pill px-4 py-2">GET DISCOUNT</a>
      </div>
    </div>    
  </div>
</div>
