<div class="forgot-password-background">
  <div class="forgot-password-container">
    <img src="loogo.png" alt="ITIANS Electronics Logo" class="logo" />

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <h2 class="forgot-password-title">Forgot Password</h2>

      <div class="mb-3">
        <input
          id="email"
          formControlName="email"
          name="email"
          type="email"
          class="form-control"
          placeholder="Enter your email"
          [ngClass]="{
            'is-invalid': email?.invalid && (email?.dirty || email?.touched)
          }"
        />
        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="invalid-feedback"
        >
          <small *ngIf="email?.errors?.['required']">Email is required.</small>
          <small *ngIf="email?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block send-code-button"
        [disabled]="forgotPasswordForm.invalid || isLoading"
      >
        Send Reset Code
      </button>

      <div *ngIf="isLoading" class="loader">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>

      <div *ngIf="successMessage" class="alert alert-success mt-4">
        {{ successMessage }}
      </div>
    </form>
  </div>
</div>
