<div class="container mt-5">
  <app-our-team></app-our-team>
  <div class="row">
    <div class="col-md-7 col-lg-6 contact-container">
      <h2 class="mb-5 text-center fw-bold" style="color: #d09423">
        Send us a message
      </h2>
      <form>
        <div class="row">
          <div class="col-md-6 mb-4">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
          <div class="col-md-6 mb-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
        </div>
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-4">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" class="form-control" id="subject" />
        </div>
        <div class="mb-5">
          <label for="message" class="form-label">Messages</label>
          <textarea class="form-control" id="message" rows="4"></textarea>
        </div>
        <button
          type="submit"
          class="btn rounded-3 text-white fw-bold"
          style="background-color: #d09423; margin-left: 35%"
        >
          Send Message
        </button>
      </form>
    </div>

    <div class="col-md-5 col-lg-6 mt-5 mt-md-0 px-1">
      <div class="second-container">
        <h2 class="text-capitalize fw-bold text-center" style="color: #2d5356">
          Get in touch
        </h2>
        <p class="mb-4 text-white fw-medium">
          We're here for you every step of the way. Whether you have questions,
          need order assistance, or want to share feedback, our friendly
          customer support team is ready to assist. Our team is here to help!
          Reach out to us via
        </p>
        <div class="d-flex flex-column align-content-center">
          <div
            class="icon-containt d-flex justify-content-start align-items-center mb-2"
          >
            <div class="icon-container">
              <a href=""><i class="fas fa-envelope"></i></a>
            </div>
            <div class="align-items-center mt-2 ms-3 text-white">
              <h6>Email Address</h6>
              <p>amrkataria1234&#64;gmail.com</p>
            </div>
          </div>
          <div
            class="icon-containt d-flex justify-content-start align-items-center mb-2"
          >
            <div class="icon-container">
              <a href="#"><i class="fas fa-phone"></i></a>
            </div>
            <div class="align-items-center mt-2 ms-3 text-white">
              <h6>Phone</h6>
              <p>+1 232 323 324</p>
            </div>
          </div>
          <div
            class="icon-containt d-flex justify-content-start align-items-center mb-2"
          >
            <div class="icon-container">
              <a href="#"><i class="fas fa-fax"></i></a>
            </div>
            <div class="align-items-center mt-2 ms-3 text-white">
              <h6>Fax</h6>
              <p>(401) 279-9797</p>
            </div>
          </div>
          <div
            class="icon-containt d-flex justify-content-start align-items-center mb-2"
          >
            <div class="icon-container">
              <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            </div>
            <div class="align-items-center mt-2 ms-3 text-white">
              <h6>Location</h6>
              <p>56/78 Settle Way Court D Islane</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
