<div class="py-2" style="background-color: #d09423">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-12 text-center text-md-start">
        <span class="text-white me-2">Follow Us</span>
        <a
          href="https://www.instagram.com/ebrahimsamad_/"
          target="_blank"
          class="text-white me-2"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ebrahim7asn"
          target="_blank"
          class="text-white me-2"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          href="https://www.facebook.com/Ebrahim7asn/"
          target="_blank"
          class="text-white"
          ><i class="fab fa-facebook"></i
        ></a>
      </div>
      <div class="col-md-4 col-12 text-center my-2 my-md-0">
        <span class="text-white fw-bold"
          >Sign up get 20% Off for all collection</span
        >
      </div>
      <div class="col-md-4 col-12 text-center text-md-end">
        <span class="text-white"
          ><i class="fas fa-phone-alt me-2"></i>+20 114 436 9646</span
        >
      </div>
    </div>
  </div>
</div>
