<div class="offers-section mb-5">
  <div class="background-circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div class="text-center text-md-start mb-3 mb-md-0">
        <h2>Minicash offers</h2>
        <a href="#" class="btn btn-light text-dark fw-bold">Shop all</a>
      </div>
      <div class="mt-3 mt-md-0 flex-grow-1 ms-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
          <div class="col">
            <a [routerLink]="['/product']" [queryParams]="{ catagory: 'Mobile' }" routerLinkActive="active-route" class="card text-decoration-none">
              <img src="/61KXw2MXBgL._AC_SX569_-removebg(1).png" class="card-img-top" alt="Iphone 12 pro"/>
              <div class="card-body text-center">
                <h5 class="card-title">Iphone 12 pro</h5>
                <p class="price text-warning">4,899.00</p>
              </div>
            </a>
          </div>
          <div class="col">
            <a [routerLink]="['/product']" [queryParams]="{ catagory: 'Mobile' }" routerLinkActive="active-route" class="card text-decoration-none">
              <img src="/61RCRdEvQlL._AC_SY606_-removebg-preview(1).png" class="card-img-top" alt="Iphone 12 pro"/>
              <div class="card-body text-center">
                <h5 class="card-title">Iphone 12 pro</h5>
                <p class="price text-warning">1,839.00</p>
              </div>
            </a>
          </div>
          <div class="col">
            <a [routerLink]="['/product']" [queryParams]="{ catagory: 'Mobile' }" routerLinkActive="active-route" class="card text-decoration-none">
              <img src="/output-onlinepngtools (18).png" class="card-img-top" alt="Iphone 12"/>
              <div class="card-body text-center">
                <h5 class="card-title">Iphone 12</h5>
                <p class="price text-warning">1,399.00</p>
              </div>
            </a>
          </div>
          <div class="col">
            <a [routerLink]="['/product']" [queryParams]="{ catagory: 'Mobile' }" routerLinkActive="active-route" class="card text-decoration-none">
              <img src="/output-onlinepngtools (19).png" class="card-img-top" alt="Iphone 14 pro"/>
              <div class="card-body text-center">
                <h5 class="card-title">Iphone 14 pro</h5>
                <p class="price text-warning">13,999.00</p>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
