<div class="card shadow-sm order-summary">
    <div class="card-header text-white">
      Order Summary
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-6">Order Number</div>
        <div class="col-6 text-end">#123456789</div>
      </div>
      <div class="row mb-3">
        <div class="col-6">Date</div>
        <div class="col-6 text-end">May 7, 2024</div>
      </div>
      <div class="row mb-3">
        <div class="col-6">Items Purchased</div>
        <div class="col-6 text-end">4 Total Item</div>
      </div>
    </div>
    <div class="card-footer bg-white border-top total-footer">
      <div class="row">
        <div class="col-6">Total</div>
        <div class="col-6 text-end">$774.96</div>
      </div>
    </div>
  </div>
  <div class="StatusContener">
    <h3 class="fs-2" > Order Status:</h3>
    <p class="text-muted">

        Your order is now complete and will be processed for shipment. You will receive a confirmation email shortly with tracking information once your items have been dispatched.
        Thank you for shopping with us! If you have any questions or concerns, please don't
        hesitate to contact our customer support team at
        Email: mdaminur.oc gmail.com or
        Phone No+8801405074838
    </p>
  </div>
  