<div
  id="myCarousel"
  class="carousel container slide carousel-fade mb-5"
  data-bs-ride="carousel"
>
  <div class="container carousel-inner">
    <div class="container carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>
                Present your <br />
                awesome product
              </h4>
              <p>
                Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem
                rerum <br />
                necessitatibus praesentium voluptatum deleniti atque corrupti.
              </p>
              <a routerLink="/product" routerLinkActive="active-route" class="btn btn-primary">BUY NOW</a>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1">
              <img
                src="/NKvkfTT-removebg-preview.png"
                class="mx-auto"
                alt="slide"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item container">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>Another great feature</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Mollitia, nemo?
              </p>
              <a routerLink="/product" routerLinkActive="active-route" class="btn btn-primary">LEARN MORE</a>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1">
              <img
                src="/duWgXRs_-_Imgur-removebg-preview.png"
                class="mx-auto"
                alt="slide"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>Discover more</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                quam velit.
              </p>
              <a routerLink="/product" routerLinkActive="active-route" class="btn btn-primary">EXPLORE</a>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1">
              <img
                src="/DGkR4OQ_-_Imgur-removebg-preview.png"
                class="mx-auto"
                alt="slide"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
    style="visibility: hidden"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
    style="visibility: hidden"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
